<!DOCTYPE html>
<html xmins:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Lista de estudiantes</title>
</head>
<body>
	<table>

		<thead>
			<th>Nombre</th>
			<th>Apellido</th>
			<th>Edad</th>
			<th>Estado</th>
		</thead>

		<th:block th:each="estudiante, row: ${estudiantes}">
			<tr>
				<th th:text="${estudiante.c_usuario}">/>
				<th th:text="${estudiante.Nombre}">/>
				<th th:text="${estudiante.Apellido}">/>
				<th th:text="${estudiante.Carne}">/>
				<th th:text="${estudiante.Carrera}">/>
			</tr>
		</th:block>
	</table>

	<br>

	<form th:action="@{/mostrarEstudiante}" method="post">
		<label> Buscar por codigo de estudiante </label> <input type="number"
			name="codigo"> <br> <input type="submit" value="Buscar">

	</form>

</body>
</html>